.text-blue-underlined {
    width: 100%;
    position: relative;
    font-weight: 500;
    font-size: 1.7rem;
    color: #013243;
}
.text-blue-underlined::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: -0px;
    background-color: #013243;
}